/* styles for column and sub components of a column */

div.scheduler-column ul {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.scheduler-column div.date-col-header {
	text-align: center;
	font-weight: 800;
}

div.scheduler-column li {	
	list-style-type: none;	
	border: 1px solid;	
	border-color: #2B669A;
	
	background-color: #418AC8;	
	background-image: radial-gradient(#418AC8, #2D6CA2);
	
	color: #FFFFFF;
	height: 3em;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	line-height: 3em;	
	box-shadow: 0.3em 0.3em 0.3em #888888;
}

div.scheduler-column li:first-child {
	border-top-right-radius : 0.5em;
	border-top-left-radius : 0.5em;
}
div.scheduler-column li:last-child {
	border-bottom-right-radius : 0.5em;
	border-bottom-left-radius : 0.5em;
}