/* Styles for group of columns */

div.scheduler-group-container {
	width: 100%;
	overflow: hidden;
}

div.scheduler-group {
	position: relative;
	width: 100%;
	z-index: 1;

	display:-webkit-flex;
	-webkit-justify-content:center;

	display:flex;
	justify-content:center;
}

div.scheduler-group div.column {
	position: relative;
	display: inline-block;
	*display: inline;
	box-sizing: border-box;
	width: 6em;
	
	vertical-align: top;
	float: left;
	border-left: none;
}


div.scheduler-group div.column.stretch {
	width: 100%;
    display: inline-block;
    -webkit-flex:1;
	flex:1;
}



/*
==============================================
Transistions
==============================================
*/

.exitRightEnterLeft{
	animation-name: exitRightEnterLeft;
	-webkit-animation-name: exitRightEnterLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;		
}

@keyframes exitRightEnterLeft {
	0% {
		transform: translateX(0%);
		visibility: visible !important;
	}
	48% {
		transform: translateX(100%);
		visibility: visible !important;	
	}
	49% {
		transform: translateX(100%);
		visibility: hidden  !important;
	}
	50% {
		transform: translateX(-100%);
		visibility: hidden  !important;
	}
	51% {
		transform: translateX(-100%);
		visibility: visible !important;	
	}
	100% {
		transform: translateX(0%);
		visibility: visible !important;
	}
}

@-webkit-keyframes exitRightEnterLeft {
	0% {
		-webkit-transform: translateX(0%);
		visibility: visible !important;
	}
	48% {
		-webkit-transform: translateX(100%);
		visibility: visible !important;	
	}
	49% {
		-webkit-transform: translateX(100%);
		visibility: hidden  !important;
	}
	50% {
		-webkit-transform: translateX(-100%);
		visibility: hidden  !important;
	}
	51% {
		-webkit-transform: translateX(-100%);
		visibility: visible !important;	
	}
	100% {
		-webkit-transform: translateX(0%);
		visibility: visible !important;
	}
}


.exitLeftEnterRight{
	animation-name: exitLeftEnterRight;
	-webkit-animation-name: exitLeftEnterRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: linear;	
	-webkit-animation-timing-function: linear;		
}

@keyframes exitLeftEnterRight {
	0% {
		transform: translateX(0%);
		visibility: visible !important;
	}
	48% {
		transform: translateX(-100%);
		visibility: visible !important;	
	}
	49% {
		transform: translateX(-100%);
		visibility: hidden  !important;
	}
	50% {
		transform: translateX(100%);
		visibility: hidden  !important;
	}
	51% {
		transform: translateX(100%);
		visibility: visible !important;	
	}
	100% {
		transform: translateX(0%);
		visibility: visible !important;
	}
}

@-webkit-keyframes exitLeftEnterRight {
	0% {
		-webkit-transform: translateX(0%);
		visibility: visible !important;
	}
	48% {
		-webkit-transform: translateX(-100%);
		visibility: visible !important;	
	}
	49% {
		-webkit-transform: translateX(-100%);
		visibility: hidden  !important;
	}
	50% {
		-webkit-transform: translateX(100%);
		visibility: hidden  !important;
	}
	51% {
		-webkit-transform: translateX(100%);
		visibility: visible !important;	
	}
	100% {
		-webkit-transform: translateX(0%);
		visibility: visible !important;
	}
}