Times in data 
<ul>
  <li ng-repeat="availableTime in testData.availableTimes">{{availableTime}}</li>
</ul>




<h2> Scheduler Column </h2>

<blockquote>
 &lt;scheduler-column availability=&quot;testData.availableTimes&quot; date=&quot;testData.date&quot; timeformat=&quot;h:mm.ss A&quot; dateformat=&quot;MMM D, YY&quot; dayofweek=&quot;ddd&quot;&gt;
  &lt;/scheduler-column&gt;
</blockquote>

  <scheduler-column availability="testData.availableTimes" date="testData.date" timeformat="h:mm.ss A" dateformat="MMM D, YY" dayofweek="ddd">
  </scheduler-column>

<blockquote>
    &lt;scheduler-column next=&quot;testDataNext&quot; date=&quot;testData.date&quot; date_format=&quot;h:mm A&quot;&gt;
  &lt;/scheduler-column&gt;
</blockquote>

  <scheduler-column date="testData.date" next="testDataNext">
  </scheduler-column>



Time Data:
<button ng-click="_updateTimeData()">update data</button>
<textarea id="dayData" style="width:100%;height: 8em;">
	{
    	'date' : new Date(2014, 11, 30),
    	'availableTimes' : [
    		new Date(2014, 11, 30, 12, 30, 0, 0),
    		new Date(2014, 11, 30, 13, 0, 0, 0),
    		new Date(2014, 11, 30, 15, 30, 0, 0)
    	]
    }
</textarea><br/>
Next Date: <input id="nextDateInput" value="new Date(2014, 11, 26, 12, 30, 0, 0)">



<hr/>

<h2> Scheduler Group </h2>
<blockquote>
	&lt;scheduler-group data=&quot;testData2&quot; range=&quot;numberOfDays&quot; offset=&quot;offset&quot; direction=&quot;direction&quot;&gt;&lt;/scheduler-group&gt;
</blockquote>

<scheduler-group data="testData2" range="numberOfDays" offset="offset" direction="direction"></scheduler-group>


<button ng-click="_updateData()">update data</button>
Number of Days: <input ng-model="numberOfDays"><br/>
Offset: <input ng-model="offset"><br/>
Direction: <input ng-model="direction"> (enter 'left' or 'right' or blank or no transition)<br/>
<textarea id="weekData" style="width:100%;height: 40em;">
	[
    	{
    		date: new Date(2014, 10, 30),
			availableTimes : [
			    new Date(2014, 10, 30, 15, 0, 0, 0),
			    new Date(2014, 10, 30, 16, 0, 0, 0),
			    new Date(2014, 10, 30, 17, 0, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 1),
			availableTimes : []
    	},
    	{
    		date: new Date(2014, 11, 2),
			availableTimes : [
			    new Date(2014, 10, 30, 15, 0, 0, 0),
			    new Date(2014, 10, 30, 15, 30, 0, 0),
			    new Date(2014, 10, 30, 16, 0, 0, 0),
			    new Date(2014, 10, 30, 16, 30, 0, 0),
			    new Date(2014, 10, 30, 17, 0, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 3),
			availableTimes : [
			    new Date(2014, 11, 3, 8, 30, 0),
			    new Date(2014, 11, 3, 9, 30, 0),
			    new Date(2014, 11, 3, 10, 30, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 4),
			availableTimes : [
			    new Date(2014, 11, 4, 10, 0 , 0),			    
			    new Date(2014, 11, 4, 16, 0 , 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 5),
			availableTimes : [
			    new Date(2014, 11, 5, 14, 0 , 0, 0),
			    new Date(2014, 11, 5, 14, 30, 0, 0),
			    new Date(2014, 11, 5, 15, 45, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 6),
			next: new Date(2014, 11, 7, 8, 0, 0, 0)
    	},
    	{
    		date: new Date(2014, 11, 7),
			availableTimes : [
			    new Date(2014, 11, 7, 8, 0, 0, 0),
			    new Date(2014, 11, 7, 9, 0, 0, 0),
			    new Date(2014, 11, 7, 10, 0, 0, 0)
			]
    	}        
    ]
</textarea>