Times in data 
<ul>
  <li ng-repeat="availableTime in testData.availableTimes">{{availableTime}}</li>
</ul>




<h2> Scheduler Column </h2>

<blockquote>
	&lt;scheduler-column availability=&quot;testData.availableTimes&quot; date=&quot;testData.date&quot; format=&quot;h:mm A&quot;&gt;
  &lt;/scheduler-column&gt;
</blockquote>

  <scheduler-column availability="testData.availableTimes" date="testData.date" format="h:mm A">
  </scheduler-column>

<blockquote>
	&lt;scheduler-column next=&quot;testDataNext&quot; date=&quot;testData.date&quot; format=&quot;h:mm A&quot;&gt;
  &lt;/scheduler-column&gt;
</blockquote>

  <scheduler-column date="testData.date" next="testDataNext">
  </scheduler-column>

Time Data:
<button ng-click="_updateTimeData()">update data</button>
<textarea id="dayData" style="width:100%;height: 8em;">
	{
    	'date' : new Date(2014, 11, 30),
    	'availableTimes' : [
    		new Date(2014, 11, 30, 12, 30, 0, 0),
    		new Date(2014, 11, 30, 13, 0, 0, 0),
    		new Date(2014, 11, 30, 15, 30, 0, 0)
    	]
    }
</textarea>



<hr/>

<h2> Scheduler Group </h2>
<blockquote>
	&lt;scheduler-group data=&quot;testData2&quot; range=&quot;numberOfDays&quot; offset=&quot;offset&quot;&gt;&lt;/scheduler-group&gt;
</blockquote>

<scheduler-group data="testData2" range="numberOfDays" offset="offset"></scheduler-group>


<button ng-click="_updateData()">update data</button>
Number of Days: <input ng-model="numberOfDays"><br/>
Offset: <input ng-model="offset"><br/>
<textarea id="weekData" style="width:100%;height: 40em;">
	[
    	{
    		date: new Date(2014, 10, 30),
			availableTimes : [
			    new Date(2014, 10, 30, 15, 0, 0, 0),
			    new Date(2014, 10, 30, 16, 0, 0, 0),
			    new Date(2014, 10, 30, 17, 0, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 1),
			availableTimes : [
			    new Date(2014, 11, 1, 10, 0, 0, 0),
			    new Date(2014, 11, 1, 12, 0, 0, 0),
			    new Date(2014, 11, 1, 12, 30, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 2),
			availableTimes : [
			    new Date(2014, 10, 30, 15, 0, 0, 0),
			    new Date(2014, 10, 30, 15, 0, 0, 0),
			    new Date(2014, 10, 30, 15, 0, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 11, 3),
			availableTimes : [
			    new Date(2014, 11, 3, 8, 30, 0),
			    new Date(2014, 11, 3, 9, 30, 0),
			    new Date(2014, 11, 3, 10, 30, 0)
			]
    	},
    	{
    		date: new Date(2014, 12, 4),
			availableTimes : [
			    new Date(2014, 12, 4, 10, 0 , 0),
			    new Date(2014, 12, 4, 11, 0 , 0),
			    new Date(2014, 12, 4, 13, 0 , 0)
			]
    	},
    	{
    		date: new Date(2014, 12, 5),
			availableTimes : [
			    new Date(2014, 12, 5, 14, 0 , 0, 0),
			    new Date(2014, 12, 5, 14, 30, 0, 0),
			    new Date(2014, 12, 5, 15, 45, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 12, 6),
			availableTimes : [
			    new Date(2014, 12, 6, 10, 0, 0, 0),
			    new Date(2014, 12, 6, 11, 0, 0, 0),
			    new Date(2014, 12, 6, 12, 0, 0, 0)
			]
    	},
    	{
    		date: new Date(2014, 12, 7),
			availableTimes : [
			    new Date(2014, 12, 7, 8, 0, 0, 0),
			    new Date(2014, 12, 7, 9, 0, 0, 0),
			    new Date(2014, 12, 7, 10, 0, 0, 0)
			]
    	}        
    ]
</textarea>